/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lustria&display=swap');

:root {
  --colorpalette1: #3d4127;
  --colorpalette2: #437057;
  --colorpalette3: #778873;
  --colorpalette4: #D4DE95;
  --colorwhite: #fff;
  --colorwhitergb: 255 255 255;
}

body {
  font-family: "Lustria", serif;
  color: var(--colorpalette2);
}

button {
  border: none;
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1rem, 3vw, 2rem);
}

.color_p1 {
  color: var(--colorpalette1);
}

.color_p4 {
  color: var(--colorpalette4);
}

.bg_p3 {
  background-color: var(--colorpalette3);
}

.font_great_vibes, .font_lustria {
  font-weight: 400;
  font-style: normal;
}

.font_great_vibes {
  font-family: "Great Vibes", cursive;
}

.font_lustria {
  font-family: "Lustria", serif;
}

.section {
  padding: clamp(3rem, 9vw, 6rem) clamp(1rem, 3vw, 2rem);
}

.section_bg_img {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%;
}

.section_general_title_container {
  padding-bottom: clamp(1.5rem, 4.5vw, 3rem);
}

.section_hero {
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.section_hero, .section_album, .section_photo {
  position: relative;
}

.section_hero:before, .section_hero:after, .section_album:before, .section_album:after, .section_photo:before, .section_photo:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.section_hero:before {
  background-image: linear-gradient(to bottom, var(--colorpalette1), transparent);
}

.section_album:before {
  background-image: linear-gradient(to bottom, var(--colorpalette3) 1%, transparent 25%);
  z-index: 2;
}

.section_hero:after, .section_album:after {
  background-image: linear-gradient(to top, var(--colorwhite) 1%, transparent 25%);
}

.section_photo:before {
  background-image: linear-gradient(to bottom, var(--colorwhite) 1%, transparent 25%);
}

.section_photo:after {
  background-image: linear-gradient(to top, var(--colorpalette3) 1%, transparent 25%);
}

.section_album:after {
  z-index: 1;
}

.section_photo_overlay {
  position: absolute; 
  top: 0; 
  padding: clamp(1rem, 3vw, 2rem); 
  padding-top: 0;
  z-index: 1;
}

.section_decoration {
  background: var(--colorpalette3);
  padding: clamp(1rem, 3vw, 2rem);
}

.hero_content {
  gap: 3rem;
}

.button_general {
  background: var(--colorpalette4);
  border-radius: 0.75rem;
  color: #2F5249; 
  font-size: clamp(1rem, 3vw, 2rem);
  padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1rem, 3vw, 2rem);
}

.hero_title_container {
  padding: clamp(2rem, 6vw, 4rem);
  padding-top: clamp(4rem, 10vw, 8rem);
}

.hero_title {
  font-size: clamp(3rem, 8vw, 6rem);
  color: var(--colorpalette4);
  position: relative;
}

.hero_title::before, .hero_title:after {
  content: '';
  position: absolute;
  height: .5rem;
  width: .5rem;
  background-color: var(--colorpalette4);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.hero_title::before {
  left: -32px;
}

.hero_title::after {
  right: -32px;
}

/* .hero_names {
  color: transparent;
  font-size: clamp(4rem, 10vw, 8rem);
  -webkit-text-stroke: 1px #fff; 
} */

.hero_names {
  font-size: clamp(4rem, 10vw, 8rem);

  color: transparent;
  -webkit-text-stroke: 1px var(--colorwhite);

  background: linear-gradient(90deg, rgb(var(--colorwhitergb) / .3), rgb(var(--colorwhitergb) / .5), rgb(var(--colorwhitergb) / .3));
  background-size: 80%;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;

  animation: shine 2.5s linear infinite;
}

@keyframes shine {
  from {
    background-position: -500%;
  }

  to {
    background-position: 500%;
  }
}

.full_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero_quote {
  padding: 0 clamp(6rem, 18vw, 12rem);
}

.hero_quote_text {
  font-size: clamp(0.75rem, 2.25vw, 1.5rem);
}

.counter_number {
  font-size: clamp(2rem, 6vw, 4rem);
  color: var(--colorpalette4);
}

.counter_label {
  text-transform: uppercase; 
  font-size: clamp(0.75rem, 2.25vw, 1.5rem);
}

.section_decoration_title_container {
  padding: clamp(2rem, 6vw, 4rem) clamp(1rem, 3vw, 2rem);
  position: relative;
}

.section_decoration_title_container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--colorpalette4);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section_decoration_title_container .section_title,
.section_title_green,
.section_title_yellow {
  font-size: clamp(2.5rem, 6.5vw, 5rem);
}

.section_title_green {
  color: var(--colorpalette2);
}

.section_title_yellow {
  color: var(--colorpalette4);
}

.subtitle_deco_container {
  left: 50%; 
  position: absolute; 
  top: 50%;
  transform: translate(-50%, -50%);
}

.subtitle_deco_container img {
  opacity: .2;
}

.timeline_circle_container:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--colorwhite);
  top: 0;
}

.timeline_circle {
  background: var(--colorwhite);
  border-radius: 50%;
  height: 24px;
  width: 24px; 
}

.counter_container {
  background: #778873;
  border-radius: 32px;
  padding: clamp(1rem, 3vw, 2rem);
}

.photo_section_card_blur {
  background: rgb(var(--colorwhitergb) / .5);
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 16px; 
  border-bottom-right-radius: 16px;
}

.photo_card_blur {
  padding: clamp(1rem, 3vw, 2rem);
  padding-left: clamp(3rem, 8vw, 6rem);
  padding-right: clamp(3rem, 8vw, 6rem);
}

.photo_frase_container {
  position: relative;
}

.photo_frase_container:before {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -16px;
  top: 0;
  background: rgb(var(--colorwhitergb) / .2);
  border: 2px solid rgb(var(--colorwhitergb) / .5);
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.flowers_separator_container {
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
}

.flowers_separator_container img {
  width: 100%;
}

.card_border {
  border-width: 1px;
  border-style: solid;
  border-radius: 16px;
}

.card_body {
  padding: clamp(1rem, 3vw, 2rem);
}

.card_body_pb_deco {
  padding-bottom: clamp(9rem, 27vw, 18rem);
}

.card_title_deco {
  display: inline-block;
  background: #778873;
  padding: 0 8px;
}

.border_p3 {
  border-color: var(--colorpalette3);
}

.border_p4 {
  border-color: var(--colorpalette4);
}

.gap_2 {
  gap: clamp(0.5rem, 1.5vw, 1rem);
}

.gap_3 {
  gap: clamp(1rem, 3vw, 2rem);
}

.gap_4 {
  gap: clamp(1.5rem, 4.5vw, 3rem);
}

.gap_7 {
  gap: clamp(3rem, 9vw, 6rem);
}

.fs_4 {
  font-size: clamp(1.5rem, 4.5vw, 3rem);
}

.fs_6 {
  font-size: clamp(1rem, 3vw, 2rem);
}

.date_day {
  font-size: clamp(4rem, 10vw, 8rem);
}

.mb_1 {
  margin-bottom: clamp(.25rem, .75vw, .5rem);
}

.form_input {
  border-radius: 8px;
  background: rgb(67 112 87 / .15); 
  border: none; 
  padding: clamp(1rem, 3vw, 2rem); 
  font-size: clamp(1rem, 3vw, 2rem); 
  color: #3d4127;
}

.img_flower {
  width: clamp(6rem, 18vw, 12rem);
}

.img_shoes {
  width: clamp(7.5625rem, 22.6875vw, 15.125rem);
}

.img_dress {
  width: clamp(5.125rem, 15.375vw, 10.250rem);
}

.img_gift {
  width: clamp(15.75rem, 47.25vw, 31.5rem);
}

.dress_code_img {
  height: clamp(5rem, 15vw, 10rem);
}

.flip_horizontal {
  transform: scaleX(-1);
}

@media (min-width: 768px) {
  .section_hero {
    background-position-x: center ;
    background-position-y: center;
  }
  .hero_content {
    gap: 1rem;
  }
  .flowers_separator_container {
    width: 575px;
  }
}