/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lustria&display=swap');

body {
  font-family: "Lustria", serif;
  color: #437057;
}

button {
  border: none;
}

.font_great_vibes, .font_lustria {
  font-weight: 400;
  font-style: normal;
}

.font_great_vibes {
  font-family: "Great Vibes", cursive;
}

.font_lustria {
  font-family: "Lustria", serif;
}

.section_hero, .section_album, .section_photo {
  position: relative;
}

.section_hero:before, .section_hero:after, .section_album:before, .section_album:after, .section_photo:before, .section_photo:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.section_hero:before {
  background-image: linear-gradient(to bottom, #3D4127, transparent);
}

.section_album:before {
  background-image: linear-gradient(to bottom, #778873 1%, transparent 25%);
  z-index: 2;
}

.section_hero:after, .section_album:after {
  background-image: linear-gradient(to top, #fff 1%, transparent 25%);
}

.section_photo:before {
  background-image: linear-gradient(to bottom, #fff 1%, transparent 25%);
}

.section_photo:after {
  background-image: linear-gradient(to top, #778873 1%, transparent 25%);
}

.section_album:after {
  z-index: 1;
}

.hero_title {
  font-size: 3rem;
  color: #D4DE95;
  position: relative;
}

.hero_title::before, .hero_title:after {
  content: '';
  position: absolute;
  height: .5rem;
  width: .5rem;
  background-color: #D4DE95;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.hero_title::before {
  left: -32px;
}

.hero_title::after {
  right: -32px;
}

.hero_names {
  color: transparent;
  -webkit-text-stroke: 1px #fff; 
}

.section_title_container {
  position: relative;
}

.section_title_container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #D4DE95;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section_title_container .section_title {
  font-size: 2.5rem;
}

.timeline_circle_container:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  top: 0;
}

.photo_frase_container {
  position: relative;
}

.photo_frase_container:before {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -16px;
  top: 0;
  background: rgb(255 255 255 / .2);
  border: 2px solid rgb(255 255 255 / .5);
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.flowers_separator_container {
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
}

.flowers_separator_container img {
  width: 100%;
}

@media (min-width: 768px) {
  .flowers_separator_container {
    width: 575px;
  }
}